<!-- CONTACT US
============================== -->
<div class="section section-contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-4 item">
        <span class="fa fa-phone"></span>
        020 7253 2380
      </div>
      <div class="col-md-4 item">
        <a href="mailto:support@gamevy.com">
          <span class="fa fa-envelope"></span>
          support@gamevy.com
        </a>
      </div>
      <div class="col-md-4 item">
        <span class="fa fa-home"></span>
        Gamevy Limited<br>
        87-88 Turnmill Street<br>
        London<br>
        EC1M 5QU<br>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div>