      <!-- FOOTER
      ============================== -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              &copy; 2015 Gamevy Inc. All Rights Reserved.
            </div>
            <div class="col-sm-6">
              <a href="/responsible-gambling.html">Responsible Gambling</a> |
              <a href="/policies.html">Policies</a> |
              <a href="/terms-and-conditions.html">Service Terms & Conditions</a> |
              <a href="/faq.html">FAQ</a>
            </div>
            <div class="col-sm-2">
              <div class="footer__social">
                <a href="https://twitter.com/gamevy/" class="footer-social__link footer-social__link_twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="https://www.facebook.com/playwithgamevy" class="footer-social__link footer-social__link_facebook">
                  <i class="fa fa-facebook"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              Licensed and regulated in Great Britain by the Gambling Comission (<a href="https://secure.gamblingcommission.gov.uk/gccustomweb/PublicRegister/PRAccountDetails.aspx?accountNo=38979">License number 38979</a>)
            </div>
          </div>
        </div>
      </footer>

    </div> <!-- / .wrapper -->


    <!-- JavaScript
    ================================================== -->

    <script src="main.js"></script>


  </body>
</html>