<div class="section section-games" id="games">
  <div class="container">

    <div class="row intro">
      <div class="col-sm-12 ">
        <img class="ice-2016-banner" src="/img/games_ice_2016.png" alt="Winner of the 2016 'Game to Watch' Award">
        <h2>A few, high-quality games to play<br>again and again.</h2>
      </div>
    </div>

    <div class="row item">

      <div class="col-game col-sm-4 text-center">
        <div class="game-logo" style="background-image: url('/img/game_boss_the_lotto.png');"></div>
        <a href="/boss-the-lotto.html" class="btn btn-primary" role="button">Play Boss the Lotto</a>
      </div>

      <div class="col-game col-sm-4 text-center">
        <div class="game-logo" style="background-image: url('/img/game_diamond_deal.png');"></div>
        <a href="/diamond-deal.html" class="btn btn-primary" role="button">Play Diamond Deal</a>
      </div>

      <div class="col-game col-sm-4 text-center">
        <div class="game-logo" style="background-image: url('/img/game_gears_of_fortune.png');"></div>
        <a href="/gears-of-fortune.html" class="btn btn-primary" role="button">Play Gears of Fortune</a>
      </div>

      <div class="col-game col-sm-4 text-center">
        <div class="game-logo" style="background-image: url('/img/game_boss_the_ball.png');"></div>
        <a href="/boss-the-ball.html" class="btn btn-primary" role="button">Play Boss the Ball</a>
      </div>

      <div class="col-game col-sm-4 text-center">
        <div class="game-logo" style="background-image: url('/img/game_the_heist.png');"></div>
        <a href="/the-heist.html" class="btn btn-primary" role="button">Play The Heist</a>
      </div>

      <div class="col-game col-sm-4 text-center">
        <div class="game-logo" style="background-image: url('/img/game_buzzword.png');"></div>
        <a href="/buzzword.html" class="btn btn-primary" role="button">Play Buzzword</a>
      </div>

      <div class="col-game col-sm-4 text-center">
        <div class="game-logo" style="background-image: url('/img/game_sloto.png');"></div>
        <a href="/sloto.html" class="btn btn-primary btn-invisible" role="button">Play Sloto</a>
      </div>

      <div class="col-game col-sm-4 text-center">
        <div class="game-logo" style="background-image: url('/img/game_back_of_the_net.png');"></div>
        <a href="/sloto.html" class="btn btn-primary btn-invisible" role="button">Play Back of the net</a>
      </div>

    </div>

  </div> <!-- / .container -->
</div> <!-- / .section -->
