<div class="section section-games" id="games">
  <div class="container">

    <div class="row intro">
      <div class="col-sm-6 col-sm-offset-1">
        <div class="icon">
          <span class="fa fa-quote-left"></span>
        </div>
        A few, high-quality games to play again and again.
      </div>
    </div>

    <div class="row item">
      <div class="col-sm-4 col-sm-offset-1">
        <img src="img/the_heist.jpg" alt="The Heist" class="img-responsive">
      </div>
      <div class="col-sm-6">
        <h4 class="heading"><img src="img/the-heist-title.png" alt="the heist title"></h4>
        <p>
          Take 10 steps to steal what’s in the vault. Avoid the alarms and prove your skill at trivia. Once there, it’s jackpot or jail as you choose whether to escape with your winnings or grab another bag and risk it all! Win up to £1million.
        </p>
        <a href="/the-heist.html" class="btn btn-primary pull-right" role="button">Play The Heist</a>
      </div>
    </div>

    <div class="row item">
      <div class="col-sm-4 col-sm-push-7">
        <img src="img/gof.png" alt="Gears of Fortune" class="img-responsive">
      </div>
      <div class="col-sm-6 col-sm-pull-3">
        <h4 class="heading"><img src="img/gof-title.png" alt="the heist title"></h4>
        <p>
          Spin the gears to collect and match prize symbols. Look out for the hazards – a set of 5 destroys your fortune. But golden questions unlock the jackpot machine – for up to 100,000x your stake.
        </p>
        <a href="/gears-of-fortune.html" class="btn btn-primary" role="button">Play Gears of Fortune</a>
      </div>
    </div> <!-- / .row -->

    <div class="row item">
      <div class="col-sm-4 col-sm-offset-1">
        <img src="img/buzzword.jpg" alt="Buzzword" class="img-responsive">
      </div>
      <div class="col-sm-6">
        <h4 class="heading">Buzzword</h4>
        <p>
          Puzzle out the hidden word. The sooner you decode it, the more bingo balls you can pick. Match up the lines on your card to hit the big wins – and grab jokers and superjokers to dab out even more!
        </p>
        <a href="/buzzword.html" class="btn btn-primary pull-right" role="button">Play Buzzword</a>
      </div>
    </div> <!-- / .row -->

  </div> <!-- / .container -->
</div> <!-- / .section -->
