<div class="section section-games">
  <div id="games"></div>

  <div class="container">

    <div class="row intro">
      <div class="col-sm-12">
        <img class="ice-2016-banner" src="/img/games_ice_2016.png" alt="Winner of the 2016 'Game to Watch' Award">
        <h2>A few, high-quality games to play<br>again and again.</h2>
      </div>
    </div>

    <div class="row item">

      <div class="col-game col-sm-4">
        <div class="game-wrapper">
          <a href="/the-link.html">
            <div class="game-logo" style="background-image: url('/img/game_the_link.jpg');"></div>
            <div class="hover-text">Play The Link</div>
          </a>
        </div>
      </div>

      <div class="col-game col-sm-4">
        <div class="game-wrapper">
          <a href="/epic-gems.html">
            <div class="game-logo" style="background-image: url('/img/game_epic_gems.jpg');"></div>
            <div class="hover-text">Play Epic Gems</div>
          </a>
        </div>
      </div>

      <div class="col-game col-sm-4">
        <div class="game-wrapper">
          <a href="/spinlotto.html">
            <div class="game-logo" style="background-image: url('/img/game_spinlotto.jpg');"></div>
            <div class="hover-text">Play Spinlotto</div>
          </a>
        </div>
      </div>

      <div class="col-game col-sm-4">
        <div class="game-wrapper">
          <a href="/spinlotto-scratch.html">
            <div class="game-logo" style="background-image: url('/img/game_spinlotto_scratch.jpg');"></div>
            <div class="hover-text">Play Spinlotto Scratch</div>
          </a>
        </div>
      </div>

      <div class="col-game col-sm-4">
        <div class="game-wrapper">
          <a href="/boss-the-lotto.html">
            <div class="game-logo" style="background-image: url('/img/game_boss_the_lotto.jpg');"></div>
            <div class="hover-text">Play Boss the Lotto</div>
          </a>
        </div>
      </div>

      <div class="col-game col-sm-4">
        <div class="game-wrapper">
          <a href="/gears-of-fortune.html">
            <div class="game-logo" style="background-image: url('/img/game_gears_of_fortune.jpg');"></div>
            <div class="hover-text">Play Gears of Fortune</div>
          </a>
        </div>
      </div>

      <div class="col-game col-sm-4">
        <div class="game-wrapper">
          <a href="/diamond-deal.html">
            <div class="game-logo" style="background-image: url('/img/game_diamond_deal.jpg');"></div>
            <div class="hover-text">Play Diamond Deal</div>
          </a>
        </div>
      </div>

      <div class="col-game col-sm-4">
        <div class="game-wrapper">
          <a href="/the-heist.html">
            <div class="game-logo" style="background-image: url('/img/game_the_heist.jpg');"></div>
            <div class="hover-text">Play The Heist</div>
          </a>
        </div>
      </div>

      <div class="col-game col-sm-4">
        <div class="game-wrapper">
          <a href="/buzzword.html">
            <div class="game-logo" style="background-image: url('/img/game_buzzword.jpg');"></div>
            <div class="hover-text">Play Buzzword</div>
          </a>
        </div>
      </div>

      <div class="col-game col-sm-4">
        <div class="game-wrapper">
          <a href="/boss-the-ball.html">
            <div class="game-logo" style="background-image: url('/img/game_boss_the_ball.jpg');"></div>
            <div class="hover-text">Play Red Card</div>
          </a>
        </div>
      </div>

      <div class="col-game col-sm-4">
        <div class="game-wrapper">
          <a>
            <div class="game-logo" style="background-image: url('/img/game_quiz_cubed.jpg');"></div>
            <div class="hover-text coming-soon">Coming soon</div>
          </a>
        </div>
      </div>

      <div class="col-game col-sm-4">
        <div class="game-wrapper">
          <a>
            <div class="game-logo" style="background-image: url('/img/game_back_of_the_net.jpg');"></div>
            <div class="hover-text coming-soon">Coming soon</div>
          </a>
        </div>
      </div>

    </div>
  </div> <!-- / .container -->
</div> <!-- / .section -->
