<div class="hero" id="home">

  <!-- Hero image -->
  <div class="hero__img col-sm-5 hidden-xs">
    <img src="img/pat.png" class="img-responsive" alt="Pat">
  </div>

  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-offset-5">

        <!-- Hero heading -->
        <h1 class="heading heading_left hero__heading animated fadeInUp">Unique games<br> your customers will <strong>love</strong></h1>

        <!-- Hero subheading -->
        <p class="heading__sub hero-heading__sub animated fadeInUp delay_1">
          Gamevy is an award-winning, licensed supplier and operator producing a high- quality, select range of real-money games.

          We believe in combining skill, chance and life-changing jackpots for the ultimate in fun.
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .hero -->