<div class="section section-ideas" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="features__item wow fadeIn">
          <div class="features-item__icon">
            <span class="fa fa-trophy"></span>
          </div>
          <div class="features-item__body">
            <div class="features-item-body__title">
              Gameshows
            </div>
            <div class="features-item-body__summary">
              The world’s first online gameshows – test your skill, push your luck and take home the jackpot
            </div>
          </div> <!-- / .features-item__body -->
        </div> <!-- / .features__item -->
      </div>
      <div class="col-sm-3">
        <div class="features__item wow fadeIn">
          <div class="features-item__icon">
            <span class="fa fa-check-square"></span>
          </div>
          <div class="features-item__body">
            <div class="features-item-body__title">
              Lotteries
            </div>
            <div class="features-item-body__summary">
              The world’s favourite lotteries or one custom-built for you. Players can win their dreams every day
            </div>
          </div> <!-- / .features-item__body -->
        </div> <!-- / .features__item -->
      </div>
      <div class="col-sm-3">
        <div class="features__item wow fadeIn">
          <div class="features-item__icon">
            <span class="fa fa-ticket"></span>
          </div>
          <div class="features-item__body">
            <div class="features-item-body__title">
              Scratch Cards
            </div>
            <div class="features-item-body__summary">
              Fun and quirky instant wins that stand out from the crowd for high repeat play
            </div>
          </div>  <!-- / .features-item__body -->
        </div> <!-- / .features__item -->
      </div>
      <div class="col-sm-3">
        <div class="features__item wow fadeIn">
          <div class="features-item__icon">
            <span class="fa fa-magic"></span>
          </div>
          <div class="features-item__body">
            <div class="features-item-body__title">
              Slotto
            </div>
            <div class="features-item-body__summary">
              Life-changing jackpots, frequent wins and skill elements: a slots built specifically to appeal to lottery players
            </div>
          </div> <!-- / .features-item__body -->
        </div> <!-- / .features__item -->
      </div>
  </div> <!-- / .container -->
</div> <!-- / .section -->