<div class="section section-testimonials">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="review__icon">
          <span class="fa fa-quote-left"></span>
        </div>
        <h4 class="heading">Gamevy in the press</h4>
      </div>
    </div> <!-- / .row -->
    <div class="row">

      <div class="col-sm-6 col-sm-push-6">
        <div class="review__item">
          <div class="review-item__quot video">
            <div class="video-wrapper">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/a_HtS3_MreU" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="review-item__about">
            <div class="review-item-about__avatar">
              <img class="img-responsive" src="img/calvin_ayre.png" alt="CalvinAyre.com">
            </div>
            <div class="review-item-about__content">
              <div class="review-item-about__name">CalvinAyre.com</div>
              <div class="review-item-about__position">Innovation in iGaming Profiles</div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div> <!-- / .review__item -->

        <div class="review__item">
          <div class="review-item__quot">
              <img class="img-responsive" src="img/pitch_ice_winner.png" alt="Pitch ICE Winner">
          </div>
        </div> <!-- / .review__item -->
      </div>

      <div class="col-sm-6 col-sm-pull-6">
        <div class="review__item">
          <div class="review-item__quot">
            If one of Gamevy’s 30 ideas in development comes good, all its employees could be winners.
          </div>
          <div class="review-item__about">
            <div class="review-item-about__avatar">
              <img class="img-responsive" src="img/guardian.png" alt="Guardian">
            </div>
            <div class="review-item-about__content">
              <div class="review-item-about__name">The Guardian</div>
              <div class="review-item-about__position"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div> <!-- / .review__item -->

        <div class="review__item ice-review">
          <div class="review-item__quot">
            Gamevy is a model start-up and the deserving winner of Pitch ICE
          </div>
          <div class="review-item__about">
            <div class="review-item-about__avatar">
              <img class="img-responsive" src="img/chris_north.jpg" alt="Chris North">
            </div>
            <div class="review-item-about__content">
              <div class="review-item-about__name">Chris North</div>
              <div class="review-item-about__position">GamCrowd CEO</div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div> <!-- / .review__item -->

        <div class="review__item">
          <div class="review-item__quot">
            Judged to be the start up with the most potential
          </div>
          <div class="review-item__about">
            <div class="review-item-about__avatar">
              <img class="img-responsive" src="img/online_casino_city.png" alt="Online Casino City">
            </div>
            <div class="review-item-about__content">
              <div class="review-item-about__name">Online Casino City</div>
              <div class="review-item-about__position"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div> <!-- / .review__item -->
      </div>
    </div>

    <div class="row press-more">
      <div class="col-sm-12">
        <h4 class="heading">Read more about Gamevy in the press:</h4>
      </div>

      <div class="col-sm-3 press-link">
        <a href="http://www.sbcnews.co.uk/europe/uk/2016/02/10/helen-walton-ice-recognition-for-the-gamevy-focus/" style="background-image: url(img/press_sbc.png)"></a>
      </div>
      <div class="col-sm-3 press-link">
        <a href="http://www.totallygaming.com/news/events/why-ice-pitch-perfect-gamevy-co-founder-helen-walton" style="background-image: url(img/press_totallygaming.png)"></a>
      </div>
      <div class="col-sm-3 press-link">
        <a href="http://calvinayre.com/2016/01/07/press-releases/inspirational-ice-helps-gamevy-increase-value-by-900/" style="background-image: url(img/press_calvinayre.png)"></a>
      </div>
      <div class="col-sm-3 press-link">
        <a href="http://focusgn.com/today-ice-eurocoin-gamevy-opening/" style="background-image: url(img/press_focusgn.png)"></a>
      </div>
    </div>

    </div> <!-- / .row -->
  </div>
</div>
