
<!-- TEAM
============================== -->
<div class="section section-team" id="team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="heading">Meet the team</h4>
        <p class="heading__sub">
          Gamevy is a dedicated team of designers, developers and marketeers who love playing and building games. We believe that players deserve more innovative and unique content – games that are every bit as entertaining as a TV gameshow, as well as offering life-changing prizes!
        </p>
      </div>
    </div> <!-- / .row -->
    <div class="row">
      @@include('./team-member.html', {
        "name": "Paul Dolman-Darrall",
        "id": "paul",
        "position": "Chairman",
        "team": "misc",
        "text": "Paul started his first business at 9, selling ink cartridges to kids with fountain pens – not that high-tech but he went on to set up a search engine business. Since then he’s worked with Gap, Pearson, John Lewis and Barclays helping to launch innovative brands and products. He’s also a award winning private investor. When not doing that stuff, he’s playing games!"
      })

      @@include('./team-member.html', {
        "name": "Helen Walton",
        "id": "helen",
        "position": "Marketing Director",
        "team": "misc",
        "text": "Helen is a writer and marketing manager who enjoys solving problems, trying out ideas and making things happen. She started out in Unilever, (back in the glory days when advertising budgets meant long, boozy lunches). Since then her work has included a column in the Daily Mail, naming lipsticks, saving literature (a game that won a NIBBIE) and writing an IT course."
      })

      @@include('./team-member.html', {
        "name": "Dan Rough",
        "id": "dan",
        "position": "CTO",
        "team": "misc",
        "text": "Dan’s been a developer, a consultant and a Head of Software Development. He’s worked at tiny innovative companies and global giants – highlights include, 7digital, BBC Worldwide and Maersk Lines – always striving to harness the creative talents of teams to make products that delight users. He has a passion for code quality and the tools that support it."
      })

      @@include('./team-member.html', {
        "name": "Robert Lenzhofer",
        "id": "robert",
        "position": "Director",
        "team": "misc",
        "text": "Robert Lenzhoffer joins the Gamevy board as Director. He brings a wealth of experience from the gambling industry, having run several successful gambling companies. He has worked for Crowdpark and Bwin and is now CEO of Gluck Games, based in Berlin."
      })

      @@include('./team-member.html', {
        "name": "Graham Hay",
        "id": "graham",
        "position": "Developer",
        "team": "development",
        "text": "Graham Hay is an experienced and highly skilled senior developer who has worked for numerous organisations from Axa to the start-up 7digital. Graham has consulted for numerous banks developing bespoke commodity trading applications. His focus is testing and security, laying a strong and secure bedrock of logic for Gamevy’s systems."
      })

      @@include('./team-member.html', {
        "name": "Marek Ventur",
        "id": "marek",
        "position": "Developer",
        "team": "development",
        "text": "Marek Ventur began his career as a developer for IBM, before switching to the music online service Last.fm. He works in web development using Java, CSS, HTML, PHP and other web technologies. He is a specialist in creating scalable and robust applications able to handle high traffic with excellent availability."
      })

      @@include('./team-member.html', {
        "name": "Unai Orbe",
        "id": "unai",
        "position": "Developer: Codelord",
        "team": "development",
        "text": "Unai Orbe graduated from the University of Deusto and has worked at a range of start-ups. He has finally been released from the yoke of being Gamevy’s iOS expert and has now returned to HTML5 development and his true love - world domination."
      })

      @@include('./team-member.html', {
        "name": "Nahikari Rabanos",
        "id": "nahikari",
        "position": "Developer: The sparkly code princess",
        "team": "development",
        "text": "Nahikari Rabanos is known as Gamevy’s sparkly code princess. She has a hardcore approach to TDD and keeps the rest of the team in line when it comes to refactoring. She is experienced in JS and Python. She’s worked for start-ups before and is used to a fast pace of development. She loves minions and her parrot."
      })

      @@include('./team-member.html', {
        "name": "Txus Ordorika",
        "id": "txus",
        "position": "Developer of the apocalypse",
        "team": "development",
        "text": "Txus joins the development team in Bilbao with several years of experience in development work with gaming companies. He is happy with both back and front end work, but specialises in HTML5, especially mobile websites. Nothing makes Txus happier than a really bad joke. Part of the pleasure of joining Gamevy is developing new and terrible puns in English…"
      })

      @@include('./team-member.html', {
        "name": "Jon E. Eguiluz",
        "id": "jon",
        "position": "The happy partridge developer",
        "team": "development",
        "text": "Jon is a forever junior developer, his skills go from rudest bash scripting to the finest pixel perfect positioning, thanks to his pixel eye. As a raccoon lover, he is a devote fan of the amazing Rocket Raccoon. He describes himself as a geek, but actually he is the prototypical nerd."
      })

      @@include('./team-member.html', {
        "name": "Joseba Rodriguez",
        "id": "joseba",
        "position": "random key presser",
        "team": "development",
        "text": "Video game passionate, grumpy developer and sometimes he draws pixels in a screen"
      })


      @@include('./team-member.html', {
        "name": "Chris Wood",
        "id": "chris",
        "position": "Lead Design",
        "team": "creative",
        "text": "Chris Wood is a highly experienced lead designer across brand, print and digital media. His previous clients and employers include the Guardian, Renault and The Folio Society. He oversees Gamevy’s brand identity and the overall user experience and visual identity for all of our games."
      })

      @@include('./team-member.html', {
        "name": "Oliver Farnes",
        "id": "oliver",
        "position": "Design",
        "team": "creative",
        "text": "Oliver is a 3D artist and designer. He began working with Gamevy to create language variations (he thinks Wlambank sounds like an interesting heavy metal group) but has since progressed onto his real passion of game design. There is worryingly nothing that makes him happier than learning a new trick in Cinema 4D."
      })

      @@include('./team-member.html', {
        "name": "Brian Diamond",
        "id": "brian",
        "position": "Sound Engineer",
        "team": "creative",
        "text": "Brian Diamond is a sound engineer and composer who works with the team to produce the sounds in our products. He has extensive experience working with leading companies and ensures Gamevy’s products have a unique and exciting soundscape."
      })

      @@include('./team-member.html', {
          "name": "Elliott Johansen-Baker",
          "id": "elliott",
          "position": "3D artist",
          "team": "creative",
          "text": "Elliott impressed the Gamevy team with his love of animation and 3D skills. He's just graduated from Bournemouth University and is known for his skills in Modelling and Animation. Gamevy is the first company he's worked for and he's worried it may mean he never fits into Normal hierarchical corporates afterwards!"
      })

      @@include('./team-member.html', {
          "name": "Mikel Vázquez",
          "id": "keltxo",
          "position": "Technical Artist",
          "team": "creative",
          "text": "A game developer who doesn´t enjoy playing games, an artist with a scientific mind, a quite 'rara avis' definitely who loves his job. Wondering to be a peacemaker between artist and programmers, a bridge between both to make their life easier."
      })

      @@include('./team-member.html', {
          "name": "Laura Bretman",
          "id": "laura",
          "position": "Designer",
          "team": "creative",
          "text": "Laura studied graphic design at the University of West London, with a particular interest in game design and illustration. She first joined Gamevy as an intern but quickly found her place in the team. As a dedicated vegan she finds the Gamevy insistence on burgers every Friday means that she's developing a really good appreciation for all the bean patties in London."
      })

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .section -->
