
<!-- TEAM
============================== -->
<div class="section" id="team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="heading">Meet the team</h4>
        <p class="heading__sub">
          Gamevy is a dedicated team of designers, developers and marketeers who love playing and building games. We believe that players deserve more innovative and unique content – games that are every bit as entertaining as a TV gameshow, as well as offering life-changing prizes!
        </p>
      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">

          <div class="col-sm-4">
            <div class="team__item">
              <div class="team-item__img">
                <img src="img/paul.jpg" class="img-responsive" alt="Paul">
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="team-item__name">Paul Dolman-Darrall</div>
                  <div class="team-item__position">Chairman</div>
                  <p>
                    Paul started his first business at 9, selling ink cartridges to kids with fountain pens – not that high-tech but he went on to set up a search engine business. Since then he’s worked with Gap, Pearson, John Lewis and Barclays helping to launch innovative brands and products. He’s also a award winning private investor. When not doing that stuff, he’s playing games!
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team__item">
              <div class="team-item__img">
                <img src="img/helen.jpg" class="img-responsive" alt="Helen">
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="team-item__name">Helen Walton</div>
                  <div class="team-item__position">Marketing Director</div>
                  <p>
                    Helen is a writer and marketing manager who enjoys solving problems, trying out ideas and making things happen. She started out in Unilever, (back in the glory days when advertising budgets meant long, boozy lunches). Since then her work has included a column in the Daily Mail, naming lipsticks, saving literature (a game that won a NIBBIE) and writing an IT course.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team__item">
              <div class="team-item__img">
                <img src="img/dan.jpg" class="img-responsive" alt="Dan">
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="team-item__name">Dan Rough</div>
                  <div class="team-item__position">CTO</div>
                  <p>
                    Dan’s been a developer, a consultant and a Head of Software Development. He’s worked at tiny innovative companies and global giants – highlights include, 7digital, BBC Worldwide and Maersk Lines – always striving to harness the creative talents of teams to make products that delight users. He has a passion for code quality and the tools that support it.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-sm-4">
            <div class="team__item">
              <div class="team-item__img">
                <img src="img/graham.jpg" class="img-responsive" alt="Graham">
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="team-item__name">Graham Hay</div>
                  <div class="team-item__position">Developer</div>
                  <p>
                    Graham Hay is an experienced and highly skilled senior developer who has worked for numerous organisations from Axa to the start-up 7digital. Graham has consulted for numerous banks developing bespoke commodity trading applications. His focus is testing and security, laying a strong and secure bedrock of logic for Gamevy’s systems.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team__item">
              <div class="team-item__img">
                <img src="img/marek.jpg" class="img-responsive" alt="Marek">
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="team-item__name">Marek Ventur</div>
                  <div class="team-item__position">Coding Unit No 2</div>
                  <p>
                    Marek Ventur began his career as a developer for IBM, before switching to the music online service Last.fm. He works in web development using Java, CSS, HTML, PHP and other web technologies. He is a specialist in creating scalable and robust applications able to handle high traffic with excellent availability.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team__item">
              <div class="team-item__img">
                <img src="img/unai.jpg" class="img-responsive" alt="Unai">
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="team-item__name">Unai Orbe</div>
                  <div class="team-item__position">Code Lord</div>
                  <p>
                    Unai Orbe graduated from the University of Deusto and has worked for a range of start-ups programming in JS Ruby on Rails. He is currently working on iOS and mobile application development, which is essential to meet Gamevy’s ambitions to create the highest quality experience on mobile devices.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-sm-4">
            <div class="team__item">
              <div class="team-item__img">
                <img src="img/chris.jpg" class="img-responsive" alt="Chris">
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="team-item__name">Chris Wood</div>
                  <div class="team-item__position">Lead Design</div>
                  <p>
                    Chris Wood is a highly experienced lead designer across brand, print and digital media. His previous clients and employers include the Guardian, Renault and The Folio Society. He oversees Gamevy’s brand identity and the overall user experience and visual identity for all of our games.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team__item">
              <div class="team-item__img">
                <img src="img/brian.jpg" class="img-responsive" alt="Brian">
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="team-item__name">Brian Diamond</div>
                  <div class="team-item__position">Sound Engineer</div>
                  <p>
                    Brian Diamond is a sound engineer and composer who works with the team to produce the sounds in our products. He has extensive experience working with leading companies and ensures Gamevy’s products have a unique and exciting soundscape.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team__item">
              <div class="team-item__img">
                <img src="img/nahikari.jpg" class="img-responsive" alt="Nahikari">
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="team-item__name">Nahikari Rabanos</div>
                  <div class="team-item__position">Sparkly Code Princess</div>
                  <p>
                    Nahikari Rabanos is known as Gamevy’s sparkly code princess. She has a hardcore approach to TDD and keeps the rest of the team in line when it comes to refactoring. She is experienced in JS and Python. She’s worked for start-ups before and is used to a fast pace of development. She loves minions and her parrot.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-sm-4">
            <div class="team__item">
              <div class="team-item__img">
                <img src="img/hai.jpg" class="img-responsive" alt="Hai">
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="team-item__name">Hai Phung</div>
                  <div class="team-item__position">3D Artist</div>
                  <p>
                    Hai Phung is Gamevy’s 3d art expert. Coming from a traditional fine art background Hai has crossed over to digital work. His main expertise is in creating characters and he’s worked at renowned studios including Bigman and HandCircus. He loves UFC and all his characters are kick-ass!
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- / .row -->
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .section -->
