.section.section-ideas {
  .features__item {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .features-item__icon {
    text-align: center;
    font-size: 26px;
  }
  .features-item__body {
    overflow: hidden;
  }
  .features-item-body__title {
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .features-item-body__summary {
    color: @gray-light;

    a {
      color: @gray-light;
    }
  }
}